<nz-row [nzGutter]="[16, 16]">
  <nz-col [nzSpan]="24">
    <app-actor-info [actor]="actor"></app-actor-info>
  </nz-col>
  <nz-col [nzSpan]="24">
    <nz-skeleton
      *ngIf="movies.length === 0"
      [nzActive]="true"
      [nzParagraph]="{ rows: 10 }"></nz-skeleton>

    <nz-card *ngIf="movies.length > 0" [nzExtra]="moviesPagination">
      <app-movie-list [movies]="movies"></app-movie-list>
    </nz-card>
  </nz-col>
</nz-row>

<ng-template #moviesPagination>
  <div (click)="$event.stopPropagation()">
    <nz-pagination
      [nzPageIndex]="moviesPage"
      [nzTotal]="Math.min(moviesTotalResults, 1000)"
      [nzPageSize]="20"
      (nzPageIndexChange)="onMoviesPageChange($event)">
    </nz-pagination>
  </div>
</ng-template>
