.idea
.git
.gitignore
dist
node_modules
.editorconfig
*.md
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/tmp
/out-tsc
/bazel-out

# Node
npm-debug.log
yarn-error.log

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
