<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['..']">Playlists</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item [nzOverlay]="menu">{{
    playlist?.name
  }}</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li
      *ngFor="let playlistItem of playlists$ | async"
      nz-menu-item
      [nzSelected]="playlistItem.id === playlist?.id"
      [routerLink]="['..', playlistItem.id]">
      {{ playlistItem.name }}
    </li>
  </ul>
</nz-dropdown-menu>
<nz-list
  nzItemLayout="vertical"
  [nzLoading]="false"
  cdkDropList
  (cdkDropListDropped)="itemMoved($event)">
  <nz-list-item *ngFor="let item of playlistItems; let index = index" cdkDrag>
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <nz-space>
          <nz-space nzAlign="center">
            <span *nzSpaceItem> {{ index }}. </span>
          </nz-space>
          <a (click)="watchMedia(index)">
            <img
              class="media-image"
              width="160"
              height="90"
              alt="logo"
              ngSrc="{{ item.media.imageUrl }}" />
          </a>
          <nz-space nzDirection="vertical">
            <a [routerLink]="['/medias/movie-view', item.playlistItem.mediaId]">
              {{ item.media.name }}
            </a>
            <span *ngIf="playlist && playlist.type === 'EPISODE'">
              {{ item.playlistItem.season }}x{{ item.playlistItem.episode }}
            </span>
          </nz-space>
        </nz-space>
      </nz-list-item-meta-title>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action
        ><a (click)="removeItem(item.playlistItem)"
          >Supprimer</a
        ></nz-list-item-action
      >
    </ul>
  </nz-list-item>
  <nz-list-empty
    *ngIf="playlistItems.length === 0"
    nzNoResult="Aucun média"></nz-list-empty>
</nz-list>
