.viewport {
  height: 250px;
  width: 100%;
}

.viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.item {
  //height: 300px;
  width: 300px
}

.viewport-media {
  height: 460px;
  width: 100%;
}

.viewport-media .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.item-media {
  //height: 300px;
  width: 200px;
  padding-right: 20px;
}
