<nz-row [nzGutter]="[16, 16]">
  <ng-container *ngIf="isSubscribed">
    <nz-page-header nz-col [nzSpan]="24" nzTitle="Continuer à regarder">
    </nz-page-header>

    <nz-col [nzSpan]="24">
      <nz-card>
        <cdk-virtual-scroll-viewport
          orientation="horizontal"
          itemSize="250"
          class="viewport">
          <nz-space nzDirection="horizontal" nzSize="large">
            <ng-container *cdkVirtualFor="let item of history">
              <div *nzSpaceItem class="item">
                <app-media-info
                  [routerLink]="
                    isSubscribed ? [mediaStreamPath, item.mediaId] : []
                  "
                  [queryParams]="{
                    progress: item.stoppedAt > 0.95 ? 0 : item.stoppedAt
                  }"
                  style="cursor: pointer"
                  [mediaId]="item.mediaId"
                  [vertical]="true"></app-media-info>
                <div style="width: 220px">
                  <nz-progress
                    nzSize="small"
                    [nzShowInfo]="false"
                    [nzPercent]="
                      (
                        (item.stoppedAt > 0.95 ? 1 : item.stoppedAt) * 100
                      ).toFixed(2)
                    "></nz-progress>
                </div>
              </div>
            </ng-container>
          </nz-space>
        </cdk-virtual-scroll-viewport>
      </nz-card>
    </nz-col>
  </ng-container>

  <nz-page-header nz-col [nzSpan]="24" nzTitle="Médias ajoutés récemment">
  </nz-page-header>

  <nz-col [nzXXl]="{ span: 12 }" [nzLg]="{ span: 24 }" [nzXs]="{ span: 24 }">
    <nz-card nzTitle="Films">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="220"
        class="viewport-media">
        <nz-space nzDirection="horizontal" nzSize="large">
          <ng-container *cdkVirtualFor="let movie of recentMovies">
            <div class="item-media">
              <app-movie-info-card [movie]="movie"></app-movie-info-card>
            </div>
          </ng-container>
        </nz-space>
      </cdk-virtual-scroll-viewport>
    </nz-card>
  </nz-col>

  <nz-col [nzXXl]="{ span: 12 }" [nzLg]="{ span: 24 }" [nzXs]="{ span: 24 }">
    <nz-card nzTitle="Séries">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="220"
        class="viewport-media">
        <nz-space nzDirection="horizontal" nzSize="large">
          <ng-container *cdkVirtualFor="let tvshow of recentTvShows">
            <div class="item-media">
              <app-tv-info-card [tv]="tvshow"></app-tv-info-card>
            </div>
          </ng-container>
        </nz-space>
      </cdk-virtual-scroll-viewport>
    </nz-card>
  </nz-col>

  <nz-page-header nz-col [nzSpan]="24" nzTitle="Médias populaires">
  </nz-page-header>

  <nz-col [nzXXl]="{ span: 12 }" [nzLg]="{ span: 24 }" [nzXs]="{ span: 24 }">
    <nz-card nzTitle="Films">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="220"
        class="viewport-media">
        <nz-space nzDirection="horizontal" nzSize="large">
          <ng-container *cdkVirtualFor="let movie of popularMovies">
            <div class="item-media">
              <app-movie-info-card [movie]="movie"></app-movie-info-card>
            </div>
          </ng-container>
        </nz-space>
      </cdk-virtual-scroll-viewport>
    </nz-card>
  </nz-col>

  <nz-col [nzXXl]="{ span: 12 }" [nzLg]="{ span: 24 }" [nzXs]="{ span: 24 }">
    <nz-card nzTitle="Séries">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="220"
        class="viewport-media">
        <nz-space nzDirection="horizontal" nzSize="large">
          <ng-container *cdkVirtualFor="let tvshow of popularTvShows">
            <div class="item-media">
              <app-tv-info-card [tv]="tvshow"></app-tv-info-card>
            </div>
          </ng-container>
        </nz-space>
      </cdk-virtual-scroll-viewport>
    </nz-card>
  </nz-col>
</nz-row>
