<cdk-virtual-scroll-viewport itemSize="80" class="infinite-container">
  <nz-list nzBordered nzSize="small" nzItemLayout="vertical">
    <nz-list-item *cdkVirtualFor="let comment of comments">
      <nz-comment
        [nzAuthor]="comment.userId"
        nzDatetime="{{ comment.createdAt | date : 'dd/MM/yyyy HH:mm' }}">
        <nz-comment-content>
          <p
            nz-typography
            [nzEditable]="canUpdateOrDeleteComment(comment)"
            nzEditIcon="edit"
            nzEditTooltip="Cliquez pour modifier le commentaire"
            (nzContentChange)="onUpdateComment(comment, $event)"
            [(nzContent)]="comment.content"></p>
        </nz-comment-content>
        <nz-comment-action>
          <button
            *ngIf="canUpdateOrDeleteComment(comment)"
            nz-popconfirm
            nzPopconfirmTitle="Voulez vous vraiment supprimer ce commentaire ?"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="onDeleteComment(comment)"
            nzOkText="Oui"
            nz-button
            nzType="primary"
            nzSize="small"
            nzDanger>
            <span nz-icon nzType="delete"></span>
          </button>
        </nz-comment-action>
      </nz-comment>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>
