<nz-tabset nzSize="large" nzDirection="vertical">
  <nz-tab nzTitle="Informations">
    <app-user-info [user]="user"></app-user-info>
  </nz-tab>
  <nz-tab nzTitle="Commentaires" (nzClick)="onRefreshUserComments()">
    <ng-template nz-tab>
      <nz-card [nzExtra]="commentsListPagination">
        <app-comment-list
          [comments]="comments.results"
          [showMedia]="true"></app-comment-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Notes" (nzClick)="onRefreshUserRatings()">
    <ng-template nz-tab>
      <nz-card [nzExtra]="ratingsListPagination">
        <app-rating-list
          [editable]="true"
          [showMedia]="true"
          [ratings]="ratings.results"></app-rating-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Listes de lecture" (nzClick)="onGetUserPlaylists()">
    <ng-template nz-tab>
      <nz-spin
        nzSpinning
        nzSize="large"
        style="padding: 20px"
        *ngIf="playlistsLoading"></nz-spin>
      <nz-list
        *ngIf="!playlistsLoading"
        nzItemLayout="vertical"
        [nzLoading]="false">
        <nz-list-item *ngFor="let item of playlists; let index = index">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <a [routerLink]="[playlistViewLinks, item.id]">{{ item.name }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-empty
          *ngIf="playlists.length === 0"
          nzNoResult="Aucune playlist">
        </nz-list-empty>
      </nz-list>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Amis" (nzClick)="onGetUserFriends()">
    <ng-template nz-tab>
      <nz-spin
        nzSpinning
        nzSize="large"
        style="padding: 20px"
        *ngIf="friendsLoading"></nz-spin>
      <app-friend-list
        *ngIf="!friendsLoading"
        [friends]="friends"></app-friend-list>
    </ng-template>
  </nz-tab>
</nz-tabset>

<ng-template #commentsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="commentsCurrentPage"
      [nzTotal]="comments.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onCommentsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshUserComments()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>

<ng-template #ratingsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="ratingsCurrentPage"
      [nzTotal]="ratings.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onRatingsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshUserRatings()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>
