<nz-tabset nzSize="large">
  <nz-tab nzTitle="Informations">
    <app-user-info *ngIf="user !== null" [user]="user"></app-user-info>
  </nz-tab>
  <nz-tab nzTitle="Commentaires" (nzClick)="onRefreshAllComments()">
    <ng-template nz-tab>
      <nz-row [nzGutter]="[16, 16]">
        <nz-col [nzXl]="12" [nzMd]="24">
          <nz-card [nzExtra]="movieCommentsListPagination" nzTitle="Films">
            <app-comment-list
              [mediaType]="'movie'"
              [comments]="movieComments.results"
              [showMedia]="true"></app-comment-list>
          </nz-card>
        </nz-col>
        <nz-col [nzXl]="12" [nzMd]="24">
          <nz-card [nzExtra]="tvCommentsListPagination" nzTitle="Séries">
            <app-comment-list
              [mediaType]="'tv'"
              [comments]="tvComments.results"
              [showMedia]="true"></app-comment-list>
          </nz-card>
        </nz-col>
      </nz-row>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Notes" (nzClick)="onRefreshAllRatings()">
    <ng-template nz-tab>
      <nz-row [nzGutter]="[16, 16]">
        <nz-col [nzXl]="12" [nzMd]="24">
          <nz-card [nzExtra]="movieRatingsListPagination" nzTitle="Films">
            <app-rating-list
              [mediaType]="'movie'"
              [showMedia]="true"
              [ratings]="movieRatings.results"></app-rating-list>
          </nz-card>
        </nz-col>
        <nz-col [nzXl]="12" [nzMd]="24">
          <nz-card [nzExtra]="tvRatingsListPagination" nzTitle="Séries">
            <app-rating-list
              [mediaType]="'tv'"
              [editable]="isAdmin"
              [ratings]="tvRatings.results"></app-rating-list>
          </nz-card>
        </nz-col>
      </nz-row>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Listes de lecture" (nzClick)="onGetUserPlaylists()">
    <ng-template nz-tab>
      <nz-spin
        nzSpinning
        nzSize="large"
        style="padding: 20px"
        *ngIf="playlistsLoading"></nz-spin>
      <nz-list
        *ngIf="!playlistsLoading"
        nzItemLayout="vertical"
        [nzLoading]="false">
        <nz-list-item *ngFor="let item of moviePlaylists; let index = index">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <a [routerLink]="[playlistViewLinks, item.id]">{{ item.name }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item *ngFor="let item of episodePlaylists; let index = index">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <a [routerLink]="[playlistViewLinks, item.id]">{{ item.name }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-empty
          *ngIf="moviePlaylists.length + episodePlaylists.length === 0"
          nzNoResult="Aucune playlist">
        </nz-list-empty>
      </nz-list>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Amis" (nzClick)="onGetUserFriends()">
    <ng-template nz-tab>
      <nz-spin
        nzSpinning
        nzSize="large"
        style="padding: 20px"
        *ngIf="friendsLoading"></nz-spin>
      <app-friend-list
        *ngIf="!friendsLoading"
        [friends]="friends"></app-friend-list>
    </ng-template>
  </nz-tab>
</nz-tabset>

<ng-template #movieCommentsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="movieCommentsCurrentPage"
      [nzTotal]="movieComments.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onMovieCommentsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshMovieComments()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>

<ng-template #movieRatingsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="movieRatingsCurrentPage"
      [nzTotal]="movieRatings.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onMovieRatingsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshMovieRatings()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>
<ng-template #tvCommentsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="tvCommentsCurrentPage"
      [nzTotal]="tvComments.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onTvCommentsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshTvComments()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>

<ng-template #tvRatingsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="tvRatingsCurrentPage"
      [nzTotal]="tvRatings.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onTvRatingsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshTvRatings()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>
