<nz-tabset nzSize="large" nzDirection="vertical">
  <nz-tab nzTitle="Informations">
    <nz-card>
      <nz-descriptions nzBordered>
        <nz-descriptions-item nzTitle="Pseudo" [nzSpan]="3">
          {{ user?.username }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Nom" [nzSpan]="2">
          {{ user?.lastname }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Prénom" [nzSpan]="2">
          {{ user?.firstname }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Email" [nzSpan]="3">
          {{ user?.email }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Inscris depuis le" [nzSpan]="3">
          {{ user?.createdTimestamp | date : 'dd/MM/yyyy' }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
          <nz-tag
            nzChecked
            nzColor="blue"
            *ngIf="user?.roles?.includes('bingemate-user')"
            >Actif
          </nz-tag>
          <nz-tag
            nzChecked
            nzColor="green"
            *ngIf="user?.roles?.includes('bingemate-subscribed')"
            >Abonné(e)
          </nz-tag>
          <nz-tag
            nzChecked
            nzColor="red"
            *ngIf="user?.roles?.includes('bingemate-admin')"
            >Administrateur
          </nz-tag>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
    <button
      nz-button
      nzShape="round"
      [routerLink]="['/social-network/chat', userID]">
      Envoyer un message
    </button>
  </nz-tab>
  <nz-tab nzTitle="Commentaires" (nzClick)="onRefreshUserComments()">
    <ng-template nz-tab>
      <nz-card [nzExtra]="commentsListPagination">
        <app-comment-list
          [comments]="comments.results"
          [showMedia]="true"></app-comment-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Notes" (nzClick)="onRefreshUserRatings()">
    <ng-template nz-tab>
      <nz-card [nzExtra]="ratingsListPagination">
        <app-rating-list
          [editable]="true"
          [showMedia]="true"
          [ratings]="ratings.results"></app-rating-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Listes de lecture">
    <ng-template nz-tab> TODO </ng-template>
  </nz-tab>
</nz-tabset>

<ng-template #commentsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="commentsCurrentPage"
      [nzTotal]="comments.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onCommentsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshUserComments()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>

<ng-template #ratingsListPagination>
  <nz-space>
    <nz-pagination
      *nzSpaceItem
      [nzPageIndex]="ratingsCurrentPage"
      [nzTotal]="ratings.totalResult"
      [nzPageSize]="5"
      [nzShowSizeChanger]="false"
      [nzSize]="'small'"
      (nzPageIndexChange)="onRatingsPageChange($event)"></nz-pagination>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzShape="circle"
      nzSize="small"
      (click)="onRefreshUserRatings()">
      <i nz-icon nzType="sync"></i>
    </button>
  </nz-space>
</ng-template>
