<nz-list nzItemLayout="vertical" [nzLoading]="false">
  <nz-list-item *ngFor="let item of history$ | async">
    <nz-list-item-meta>
      <nz-list-item-meta-description>
        <app-media-info
          [routerLink]="[mediaStreamPath, item.mediaId]"
          [queryParams]="{
            progress: item.stoppedAt > 0.95 ? 0 : item.stoppedAt
          }"
          style="cursor: pointer"
          [mediaId]="item.mediaId"></app-media-info>
        <nz-progress
          [nzPercent]="
            (item.stoppedAt > 0.95 ? 1 : item.stoppedAt) * 100
          "></nz-progress>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <span nz-typography>
          Vu le {{ item.viewedAt | date : 'dd/MM/yyyy à HH:mm' }}
        </span>
      </nz-list-item-action>
      <nz-list-item-action>
        <a (click)="deleteMedia(item.mediaId)">Supprimer</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-empty
    *ngIf="(history$ | async)?.length === 0"
    nzNoResult="Historique vide"></nz-list-empty>
</nz-list>
