<nz-card nzTitle="Modifier mon mot de passe" [nzExtra]="updatePassword">
  <form [formGroup]="updatePasswordForm" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired
        >Nouveau mot de passe</nz-form-label
      >
      <nz-form-control
        [nzSpan]="14"
        nzErrorTip="Le nouveau mot de passe doit contenir au moins 6 caractères">
        <nz-input-group nzPrefixIcon="lock">
          <input nz-input formControlName="newPassword" type="password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired
        >Confirmer le mot de passe</nz-form-label
      >
      <nz-form-control
        [nzSpan]="14"
        nzErrorTip="Veuillez confirmer votre nouveau mot de passe">
        <input nz-input formControlName="confirmPassword" type="password" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<ng-template #updatePassword>
  <nz-space nzDirection="horizontal" nzSize="large">
    <nz-spin [hidden]="!updatingPassword" *nzSpaceItem nzSpinning></nz-spin>
    <button
      *nzSpaceItem
      [disabled]="updatePasswordForm.invalid || updatingPassword"
      nz-button
      nzType="primary"
      nz-popconfirm
      nzPopconfirmTitle="Voulez-vous vraiment modifier votre mot de passe ?"
      nzOkText="Oui"
      nzCancelText="Non"
      (nzOnConfirm)="onUpdatePassword()">
      Modifier mon mot de passe
    </button>
  </nz-space>
</ng-template>
