<!--<nz-page-header nzTitle="Tendances"></nz-page-header>-->
<h4 nz-typography>Tendances</h4>
<nz-tabset
  [nzSize]="isOnPhone ? 'small' : 'large'"
  [nzTabBarExtraContent]="onlyAvailable">
  <nz-tab nzTitle="Films populaires">
    <ng-template nz-tab>
      <nz-skeleton
        *ngIf="popularMoviesLoading"
        [nzActive]="true"
        [nzParagraph]="{ rows: 10 }"></nz-skeleton>
      <nz-empty
        *ngIf="!popularMoviesLoading && popularMovies.length === 0"></nz-empty>
      <nz-card
        *ngIf="!popularMoviesLoading"
        [nzExtra]="popularMoviesPagination"
        [nzSize]="isOnPhone ? 'small' : 'default'"
        [nzActions]="[popularMoviesPagination]">
        <app-movie-list [movies]="popularMovies"></app-movie-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Films récents">
    <ng-template nz-tab>
      <nz-skeleton
        *ngIf="recentMoviesLoading"
        [nzActive]="true"
        [nzParagraph]="{ rows: 10 }"></nz-skeleton>
      <nz-empty
        *ngIf="!recentMoviesLoading && recentMovies.length === 0"></nz-empty>
      <nz-card
        *ngIf="!recentMoviesLoading"
        [nzSize]="isOnPhone ? 'small' : 'default'">
        <app-movie-list [movies]="recentMovies"></app-movie-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Séries populaires">
    <ng-template nz-tab>
      <nz-skeleton
        *ngIf="popularTvShowsLoading"
        [nzActive]="true"
        [nzParagraph]="{ rows: 10 }"></nz-skeleton>
      <nz-empty
        *ngIf="
          !popularTvShowsLoading && popularTvShows.length === 0
        "></nz-empty>
      <nz-card
        *ngIf="!popularTvShowsLoading"
        [nzExtra]="popularTvShowsPagination"
        [nzSize]="isOnPhone ? 'small' : 'default'"
        [nzActions]="[popularTvShowsPagination]">
        <app-tv-list [tvShows]="popularTvShows"></app-tv-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Séries récentes">
    <ng-template nz-tab>
      <nz-skeleton
        *ngIf="recentTvShowsLoading"
        [nzActive]="true"
        [nzParagraph]="{ rows: 10 }"></nz-skeleton>
      <nz-empty
        *ngIf="!recentTvShowsLoading && recentTvShows.length === 0"></nz-empty>
      <nz-card
        *ngIf="!recentTvShowsLoading"
        [nzSize]="isOnPhone ? 'small' : 'default'">
        <app-tv-list [tvShows]="recentTvShows"></app-tv-list>
      </nz-card>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Les plus commentés">
    <ng-template nz-tab>
      <nz-skeleton
        *ngIf="moviesByCommentsLoading || tvShowsByCommentsLoading"
        [nzActive]="true"
        [nzParagraph]="{ rows: 10 }"></nz-skeleton>
      <nz-empty
        *ngIf="
          !moviesByCommentsLoading &&
          !tvShowsByCommentsLoading &&
          mediaByComments.length === 0
        "></nz-empty>
      <nz-card
        *ngIf="!moviesByCommentsLoading && !tvShowsByCommentsLoading"
        [nzSize]="isOnPhone ? 'small' : 'default'">
        <app-media-list [mediaIds]="mediaByComments"></app-media-list>
      </nz-card>
    </ng-template>
  </nz-tab>
</nz-tabset>

<ng-template #popularMoviesPagination>
  <div (click)="$event.stopPropagation()">
    <nz-pagination
      [nzSize]="isOnPhone ? 'small' : 'default'"
      [nzPageIndex]="popularMoviesPage"
      [nzTotal]="Math.min(popularMoviesTotalResults, 1000)"
      [nzPageSize]="20"
      (nzPageIndexChange)="onPopularMoviesPageChange($event)">
    </nz-pagination>
  </div>
</ng-template>
<ng-template #popularTvShowsPagination>
  <div (click)="$event.stopPropagation()">
    <nz-pagination
      [nzSize]="isOnPhone ? 'small' : 'default'"
      [nzPageIndex]="popularTvShowsPage"
      [nzTotal]="Math.min(popularTvShowsTotalResults, 1000)"
      [nzPageSize]="20"
      (nzPageIndexChange)="onPopularTvShowsPageChange($event)">
    </nz-pagination>
  </div>
</ng-template>

<ng-template #onlyAvailable>
  <label
    nz-checkbox
    (nzCheckedChange)="onOnlyAvailableChecked($event.valueOf())">
    Disponibles
  </label>
</ng-template>
