<div nz-row nzJustify="center">
  <h1>Paiement validé</h1>
</div>
<div nz-row nzJustify="center">
  <ng-lottie
    nz-col
    [nzXXl]="{ span: 6 }"
    [nzXl]="{ span: 6 }"
    [nzLg]="{ span: 6 }"
    [nzMd]="{ span: 8 }"
    [nzSm]="{ span: 12 }"
    [nzXs]="{ span: 24 }"
    [options]="animation" />
</div>
<div nz-row nzJustify="center">
  <div nz-col>
    <nz-space nzSize="large">
      <button
        nzSize="large"
        *nzSpaceItem
        [routerLink]="['/']"
        nz-button
        nzType="default"
        nzShape="round">
        <span nz-icon nzType="home" nzTheme="fill"></span>
        Retour à l'accueil
      </button>
      <button
        nzSize="large"
        *nzSpaceItem
        [routerLink]="['/subscriptions/billing']"
        nz-button
        nzType="primary"
        nzShape="round">
        <span nz-icon nzType="dollar-circle" nzTheme="fill"></span>
        Voir les factures
      </button>
    </nz-space>
  </div>
</div>
