<nz-skeleton
  *ngIf="actor === undefined"
  [nzActive]="true"
  [nzParagraph]="{ rows: 10 }"></nz-skeleton>

<div *ngIf="actor">
  <nz-row [nzGutter]="[24, 24]">
    <div nz-col [nzMd]="8" [nzXl]="4">
      <img
        nz-image
        [nzSrc]="actor.profileUrl"
        alt="Actor Poster"
        width="100%" />
    </div>

    <div class="movie-info" nz-col [nzMd]="24" [nzXl]="20">
      <nz-row [nzGutter]="[24, 24]">
        <h1 class="movie-title" nz-col nzSpan="24">{{ actor.name }}</h1>

        <nz-descriptions nzBordered [nzColumn]="1" nz-col nzSpan="24">
          <nz-descriptions-item nzTitle="Biographie">{{
            actor.overview
          }}</nz-descriptions-item>
        </nz-descriptions>
      </nz-row>
    </div>
  </nz-row>
</div>
