<nz-skeleton
  *ngIf="movie === undefined"
  [nzActive]="true"
  [nzParagraph]="{ rows: 20 }"></nz-skeleton>
<div class="movie-details-container" *ngIf="movie">
  <nz-row [nzGutter]="[24, 24]" class="movie-details">
    <div nz-col [nzXs]="18" [nzLg]="6">
      <img nz-image [nzSrc]="movie.posterUrl" alt="Movie Poster" width="100%" />
      <ng-container *ngIf="movieHistory !== null">
        <nz-progress
          [nzPercent]="
            (
              (movieHistory!.stoppedAt > 0.95 ? 1 : movieHistory!.stoppedAt) *
              100
            ).toFixed(0)
          "></nz-progress>
        Vu le {{ movieHistory!.viewedAt | date : 'dd/MM/yyyy à HH:mm' }}
      </ng-container>
    </div>

    <div class="movie-info" nz-col [nzXs]="24" [nzLg]="18">
      <nz-row [nzGutter]="[24, 24]">
        <h3 nz-typography nz-col nzSpan="24">{{ movie.title }}</h3>
        <div nz-col nzSpan="24">
          <nz-space
            nzSize="small"
            [nzDirection]="isOnPhone ? 'vertical' : 'horizontal'">
            <ng-container *ngIf="movie.present && (isSubscribed$ | async)">
              <button
                *nzSpaceItem
                [routerLink]="streamPath + movie.id"
                nz-button
                nzType="primary"
                nz-dropdown
                [nzDropdownMenu]="watchMenu"
                nzShape="round">
                <span nz-icon nzType="play-circle" nzTheme="fill"></span
                >&nbsp;Regarder
              </button>
              <ng-container
                *ngIf="
                  (movieHistory?.stoppedAt ?? 0) < 0.95;
                  else setUnwatched
                ">
                <button
                  *nzSpaceItem
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nz-tooltip
                  (click)="setMovieHistory(1)"
                  nzTooltipTitle="Marquer comme vu">
                  <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                </button>
              </ng-container>
              <ng-template #setUnwatched>
                <button
                  *nzSpaceItem
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  (click)="deleteMovieHistory()"
                  nz-tooltip
                  nzTooltipTitle="Marquer comme non vu">
                  <span nz-icon nzType="check-circle" nzTheme="fill"></span>
                </button>
              </ng-template>
              <button
                *nzSpaceItem
                nz-button
                nzType="default"
                nzShape="round"
                nz-dropdown
                [disabled]="(playlists$ | async)?.length === 0"
                nz-tooltip
                [nzTooltipTitle]="
                  (playlists$ | async)?.length === 0
                    ? 'Vous n\'avez pas de playlist de type film'
                    : ''
                "
                [nzDropdownMenu]="playlistMenu">
                Ajouter à une playlist
                <span nz-icon nzType="down"></span>
              </button>
            </ng-container>
            <ng-container
              *ngIf="movie.present && (isSubscribed$ | async) === false">
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                nzShape="round"
                [routerLink]="subscriptionPath">
                <span nz-icon nzType="barcode" nzTheme="outline"></span>
                Abonnez-vous pour regarder
              </button>
            </ng-container>
            <button
              *nzSpaceItem
              nz-button
              nzType="default"
              nzShape="round"
              nz-dropdown
              [nzDropdownMenu]="watchlistMenu">
              <span *ngIf="!isMediaInWatchList">Suivre ce film</span>
              <span *ngIf="isMediaInWatchList">{{
                watchlistItem!.status | tvShowWatchlistStatus
              }}</span>
              <span nz-icon nzType="down"></span>
            </button>
          </nz-space>
        </div>
        <div class="movie-rating" nz-col nzSpan="24">
          <nz-rate [ngModel]="getRate()" nzDisabled nzAllowHalf></nz-rate>
          &nbsp;{{ (movie.voteAverage / 2).toFixed(2) }}
        </div>

        <nz-descriptions
          nzBordered
          [nzColumn]="1"
          nz-col
          nzSpan="24"
          [nzSize]="isOnPhone ? 'small' : 'default'"
          [nzLayout]="isOnPhone ? 'vertical' : 'horizontal'">
          <nz-descriptions-item nzTitle="Date de sortie">{{
            movie.releaseDate | date : 'dd/MM/yyyy'
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Genres">
            <nz-tag
              *ngFor="let genre of movie.genres"
              [routerLink]="moviesByGenrePath + genre.id"
              nzMode="checkable"
              nzColor="green"
              nzChecked
              >{{ genre.name }}</nz-tag
            >
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Résumé" [nzSpan]="24">{{
            movie.overview
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Studios">
            <nz-tag
              *ngFor="let studio of movie.studios"
              [routerLink]="moviesByStudioPath + studio.id"
              nzMode="checkable"
              nzColor="magenta"
              nzChecked
              >{{ studio.name }}</nz-tag
            >
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-row>
    </div>
    <div class="actors" nz-col nzSpan="24">
      <h2>Acteurs</h2>
      <nz-list
        [nzSize]="isOnPhone ? 'small' : 'large'"
        [nzPagination]="actorListPagination"
        [nzBordered]="false"
        [nzGrid]="{ gutter: 16, xs: 2, sm: 3, md: 4, lg: 6, xl: 6, xxl: 6 }">
        <nz-list-item
          *ngFor="let actor of getActorsSlice()"
          style="cursor: pointer"
          [routerLink]="[mediasByActorPath, actor.id]">
          <nz-list-item-meta
            [nzAvatar]="actor.profileUrl"
            nzTitle="{{ actor.name }}"
            nzDescription="{{ actor.character }}"></nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </nz-row>
</div>

<ng-template #actorListPagination>
  <nz-pagination
    [nzPageIndex]="actorsCurrentPage"
    [nzTotal]="movie?.actors?.length ?? 0"
    [nzPageSize]="6"
    [nzShowSizeChanger]="false"
    [nzSize]="'small'"
    (nzPageIndexChange)="onActorsPageChange($event)"></nz-pagination>
</ng-template>

<nz-dropdown-menu #playlistMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item *ngFor="let playlist of playlists$ | async">
      <a (click)="addToPlaylist(playlist.id)">{{ playlist.name }}</a>
    </li>
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #watchlistMenu="nzDropdownMenu">
  <ul nz-menu>
    <ng-container *ngIf="!isMediaInWatchList">
      <li
        nz-menu-item
        *ngFor="let status of statusNames"
        (click)="addToWatchlist(status)">
        {{ status | tvShowWatchlistStatus }}
      </li>
    </ng-container>
    <ng-container *ngIf="isMediaInWatchList">
      <li
        nz-menu-item
        *ngFor="let status of statusNames"
        (click)="changeMovieStatus(status)"
        [nzDisabled]="status === watchlistItem?.status">
        {{ status | movieWatchlistStatus }}
      </li>
      <li nz-menu-item nzDanger (click)="removeMovieWatchlist()">Retirer</li>
    </ng-container>
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #watchMenu="nzDropdownMenu">
  <ul nz-menu>
    <li
      nz-menu-item
      *ngIf="movieHistory !== null && movieHistory.stoppedAt < 0.95">
      <a
        [routerLink]="[streamPath, movie?.id]"
        [queryParams]="{
          progress: movieHistory.stoppedAt
        }"
        >Reprendre la lecture</a
      >
    </li>
    <li nz-menu-item>
      <a (click)="watchTogetherModal()">Lecture partagée</a>
    </li>
  </ul>
</nz-dropdown-menu>
<nz-modal
  nzTitle="Choisissez des amis"
  [(nzVisible)]="showWatchTogether"
  (nzOnCancel)="cancelCreation()"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter">
  <ng-template #modalContent>
    <div nz-row>
      <nz-select
        nz-col
        nzSpan="24"
        [nzMaxTagCount]="4"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzSize="large"
        nzPlaceHolder="Choisissez des amis"
        [(ngModel)]="selectedFriends">
        <nz-option
          *ngFor="let item of friends"
          [nzLabel]="item | username | async"
          [nzValue]="item"></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>
        et {{ selectedList.length }} amis
      </ng-template>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="cancelCreation()">
      Annuler
    </button>
    <button nz-button nzType="primary" (click)="createRoom()">
      Créer la salle
    </button>
  </ng-template>
</nz-modal>
