<nz-skeleton
  *ngIf="loading"
  [nzActive]="true"
  [nzParagraph]="{ rows: 10 }"></nz-skeleton>
<button
  nz-button
  nzType="default"
  nzShape="round"
  nz-dropdown
  [disabled]="
    selectedEpisodes.length <= 0 || (playlists$ | async)?.length === 0
  "
  nz-tooltip
  [nzTooltipTitle]="
    (playlists$ | async)?.length === 0
      ? 'Vous n\'avez pas de playlist de type épisode'
      : ''
  "
  [nzDropdownMenu]="playlistMenu">
  Ajouter à une playlist
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #playlistMenu="nzDropdownMenu">
  <ul nz-menu>
    <li
      (click)="addToPlaylist(playlist.id)"
      nz-menu-item
      *ngFor="let playlist of playlists$ | async">
      {{ playlist.name }}
    </li>
  </ul>
</nz-dropdown-menu>

<cdk-virtual-scroll-viewport itemSize="110" class="infinite-container">
  <nz-list [nzSize]="isOnPhone ? 'small' : 'default'">
    <nz-list-item *cdkVirtualFor="let episode of seasonEpisodes">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          {{ episode.seasonNumber }}x{{
            episode.episodeNumber | number : '2.0'
          }}
          -
          {{ episode.name }}
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          <nz-space nzSize="small" style="padding-right: 16px">
            <label
              *nzSpaceItem
              nz-checkbox
              [nzDisabled]="!episode.present"
              [ngModel]="false"
              (ngModelChange)="onEpisodeSelection(episode)"></label>
            <nz-space *nzSpaceItem nzDirection="vertical" class="hide-on-phone">
              <img
                *nzSpaceItem
                nz-image
                [nzSrc]="episode.posterUrl"
                height="50px"
                alt="" />
              <ng-container *ngIf="seasonEpisodesHistory.has(episode.id)">
                <nz-progress
                  *nzSpaceItem
                  [nzShowInfo]="false"
                  [nzPercent]="
                    (
                      (seasonEpisodesHistory.get(episode.id)!.stoppedAt > 0.95
                        ? 1
                        : seasonEpisodesHistory.get(episode.id)!.stoppedAt) *
                      100
                    ).toFixed(0)
                  "></nz-progress>
              </ng-container>
            </nz-space>
            <button
              *nzSpaceItem
              [hidden]="!episode.present || (isSubscribed$ | async) === false"
              [routerLink]="[streamPath, episode.id]"
              nz-button
              nz-dropdown
              [nzDropdownMenu]="continueEpisode"
              nzType="primary"
              nzShape="circle">
              <span nz-icon nzType="play-circle" nzTheme="fill"></span>
            </button>
            <ng-container *ngIf="episode.present">
              <ng-container
                *ngIf="
                  !seasonEpisodesHistory.has(episode.id) ||
                    seasonEpisodesHistory.get(episode.id)!.stoppedAt < 0.95;
                  else setUnwatched
                ">
                <button
                  *nzSpaceItem
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nz-tooltip
                  (click)="setEpisodeHistory(episode, 1)"
                  nzTooltipTitle="Marquer comme vu">
                  <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                </button>
              </ng-container>
              <ng-template #setUnwatched>
                <button
                  *nzSpaceItem
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  (click)="deleteEpisodeHistory(episode.id)"
                  nz-tooltip
                  nzTooltipTitle="Marquer comme non vu">
                  <span nz-icon nzType="check-circle" nzTheme="fill"></span>
                </button>
              </ng-template>
            </ng-container>
            <button
              *nzSpaceItem
              [hidden]="!episode.present || (isSubscribed$ | async) === true"
              [routerLink]="[subscriptionPath]"
              nz-button
              nzType="primary"
              nzShape="circle">
              <span nz-icon nzType="barcode" nzTheme="outline"></span>
            </button>
            <span *nzSpaceItem class="hide-on-phone">
              {{ episode.overview }}
            </span>
          </nz-space>
          <nz-dropdown-menu #continueEpisode="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                [routerLink]="[streamPath, episode.id]"
                [queryParams]="{
                  progress: seasonEpisodesHistory.get(episode.id)!.stoppedAt
                }"
                *ngIf="
                  seasonEpisodesHistory.has(episode.id) &&
                  seasonEpisodesHistory.get(episode.id)!.stoppedAt < 0.95
                ">
                Reprendre la lecture
              </li>
              <li nz-menu-item (click)="watchTogetherModal(episode.id)">
                Lecture partagée
              </li>
            </ul>
          </nz-dropdown-menu>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <nz-list-item-extra class="hide-on-phone">
        {{ episode.airDate | date : 'dd/MM/yyyy' }}
      </nz-list-item-extra>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>

<nz-modal
  nzTitle="Choisissez des amis"
  [(nzVisible)]="showWatchTogether"
  (nzOnCancel)="cancelCreation()"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter">
  <ng-template #modalContent>
    <div nz-row>
      <nz-select
        nz-col
        nzSpan="24"
        [nzMaxTagCount]="4"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzSize="large"
        nzPlaceHolder="Choisissez des amis"
        [(ngModel)]="selectedFriends">
        <nz-option
          *ngFor="let item of friends"
          [nzLabel]="item | username | async"
          [nzValue]="item"></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>
        et {{ selectedList.length }} amis
      </ng-template>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="cancelCreation()">
      Annuler
    </button>
    <button nz-button nzType="primary" (click)="createRoom()">
      Créer la salle
    </button>
  </ng-template>
</nz-modal>
