<nz-skeleton
  *ngIf="loading"
  [nzActive]="true"
  [nzParagraph]="{ rows: 10 }"></nz-skeleton>
<button
  nz-button
  nzType="default"
  nzShape="round"
  nz-dropdown
  [disabled]="!selectedEpisode"
  [nzDropdownMenu]="playlistMenu">
  Ajouter à une playlist
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #playlistMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item *ngFor="let playlist of playlists$ | async">
      <a (click)="addToPlaylist(playlist.id)">{{ playlist.name }}</a>
    </li>
  </ul>
</nz-dropdown-menu>

<cdk-virtual-scroll-viewport itemSize="50" class="infinite-container">
  <nz-list [nzSize]="isOnPhone ? 'small' : 'default'">
    <nz-list-item *cdkVirtualFor="let episode of seasonEpisodes">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          {{ episode.seasonNumber }}x{{
            episode.episodeNumber | number : '2.0'
          }}
          -
          {{ episode.name }}
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          <nz-space nzSize="small" style="padding-right: 16px">
            <label
              *nzSpaceItem
              nz-checkbox
              [nzDisabled]="
                (selectedEpisode !== undefined &&
                  selectedEpisode !== episode) ||
                !episode.present
              "
              [ngModel]="false"
              (ngModelChange)="onEpisodeSelection(episode)"></label>
            <img
              class="hide-on-phone"
              *nzSpaceItem
              nz-image
              [nzSrc]="episode.posterUrl"
              height="50px"
              alt="" />
            <button
              *nzSpaceItem
              [hidden]="!episode.present || (isSubscribed$ | async) === false"
              [routerLink]="[streamPath, episode.id]"
              nz-button
              nzType="primary"
              nzShape="circle">
              <span nz-icon nzType="play-circle" nzTheme="fill"></span>
            </button>
            <button
              *nzSpaceItem
              [hidden]="!episode.present || (isSubscribed$ | async) === false"
              nz-button
              nz-tooltip
              nzTooltipTitle="Lecture partagée"
              (click)="watchTogetherModal()"
              nzType="primary"
              nzShape="circle">
              <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
            </button>
            <button
              *nzSpaceItem
              [hidden]="!episode.present || (isSubscribed$ | async) === true"
              [routerLink]="[subscriptionPath]"
              nz-button
              nzType="primary"
              nzShape="circle">
              <span nz-icon nzType="barcode" nzTheme="outline"></span>
            </button>
            <span *nzSpaceItem class="hide-on-phone">
              {{ episode.overview }}
            </span>
          </nz-space>
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      <nz-list-item-extra class="hide-on-phone">
        {{ episode.airDate | date : 'dd/MM/yyyy' }}
      </nz-list-item-extra>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>

<nz-modal
  nzTitle="Choisissez des amis"
  [(nzVisible)]="showWatchTogether"
  (nzOnCancel)="cancelCreation()"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter">
  <ng-template #modalContent>
    <div nz-row>
      <nz-select
        nz-col
        nzSpan="24"
        [nzMaxTagCount]="4"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzSize="large"
        nzPlaceHolder="Choisissez des amis"
        [(ngModel)]="selectedFriends">
        <nz-option
          *ngFor="let item of friends"
          [nzLabel]="item | username | async"
          [nzValue]="item"></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>
        et {{ selectedList.length }} amis
      </ng-template>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="cancelCreation()">
      Annuler
    </button>
    <button nz-button nzType="primary" (click)="createRoom()">
      Créer la salle
    </button>
  </ng-template>
</nz-modal>
