<div nz-row>
  <div nz-col nzFlex="3">
    <nz-space>
      <h3>Temps de visionnage quotidien</h3>
      <nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
          {{ dailyViewPeriod }}
          <span nz-icon nzType="down"></span>
        </button>
      </nz-button-group>
    </nz-space>
    <app-stats-daily-views class="stats-item"></app-stats-daily-views>
  </div>
</div>
<nz-dropdown-menu #menu4="nzDropdownMenu">
  <ul nz-menu>
    <li
      nz-menu-item
      (click)="setDailyViewSevenDaysPeriod()"
      [nzSelected]="dailyViewPeriod === '7 jours'">
      7 jours
    </li>
    <li
      nz-menu-item
      (click)="setDailyViewMonthPeriod()"
      [nzSelected]="dailyViewPeriod === '1 mois'">
      1 mois
    </li>
    <li
      nz-menu-item
      (click)="setDailyViewSemesterPeriod()"
      [nzSelected]="dailyViewPeriod === '6 mois'">
      6 mois
    </li>
  </ul>
</nz-dropdown-menu>
