<div nz-row [nzGutter]="{ xs: 2, sm: 4, md: 6, lg: 8 }">
  <div nz-col [nzXs]="30" [nzSm]="22" [nzMd]="14" [nzLg]="6" class="gutter-row">
    <div nz-row nzJustify="space-between">
      <h3>Temps de visionnage quotidien</h3>
      <nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
          {{ dailyViewPeriod }}
          <span nz-icon nzType="down"></span>
        </button>
      </nz-button-group>
    </div>
    <app-stats-daily-views
      [data]="data"
      [labels]="labels"
      class="stats-item"></app-stats-daily-views>
  </div>
</div>
<nz-dropdown-menu #menu4="nzDropdownMenu">
  <ul nz-menu>
    <li
      nz-menu-item
      (click)="setDailyViewSevenDaysPeriod()"
      [nzSelected]="dailyViewPeriod === '7 jours'">
      7 jours
    </li>
    <li
      nz-menu-item
      (click)="setDailyViewMonthPeriod()"
      [nzSelected]="dailyViewPeriod === '1 mois'">
      1 mois
    </li>
    <li
      nz-menu-item
      (click)="setDailyViewSemesterPeriod()"
      [nzSelected]="dailyViewPeriod === '6 mois'">
      6 mois
    </li>
  </ul>
</nz-dropdown-menu>
