<nz-card nzTitle="Ajouter un film">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" nzSize="large">
    <input
      (change)="search()"
      [(ngModel)]="input"
      [nzAutocomplete]="auto"
      type="text"
      nz-input
      placeholder="Entrez le nom d'un film" />
  </nz-input-group>
  <nz-autocomplete #auto>
    <nz-auto-option
      *ngFor="let option of options"
      (click)="selectedMedia(option.value)"
      [nzLabel]="option.label">
      {{ option.label }}
    </nz-auto-option>
  </nz-autocomplete>

  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch>
      <span nz-icon nzType="search"></span>
    </button>
  </ng-template>
</nz-card>
