<nz-card>
  <nz-space nzDirection="vertical" class="hide-on-desktop">
    <ng-container *ngIf="canEdit() && !editMode">
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        (click)="toggleEditMode()">
        Modifier
      </button>
    </ng-container>
    <ng-container *ngIf="user?.id !== authUser?.id">
      <button
        *nzSpaceItem
        nz-button
        nzType="default"
        [routerLink]="['/social-network/chat', user?.id]">
        Envoyer un message
      </button>
    </ng-container>
    <ng-container *ngIf="!editMode">
      <app-delete-user
        *nzSpaceItem
        [admin]="isAdmin"
        [owner]="owner"
        [userId]="user?.id ?? ''"></app-delete-user>
    </ng-container>
  </nz-space>
  <nz-descriptions
    [nzSize]="isOnPhone ? 'small' : 'default'"
    [nzLayout]="isOnPhone ? 'vertical' : 'horizontal'"
    nzBordered
    [nzExtra]="toggleEdit"
    *ngIf="!editMode">
    <nz-descriptions-item nzTitle="Pseudo" [nzSpan]="3">
      {{ user?.username }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Nom" [nzSpan]="2">
      {{ user?.lastname }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Prénom" [nzSpan]="2">
      {{ user?.firstname }}
    </nz-descriptions-item>
    <nz-descriptions-item
      nzTitle="Email"
      [nzSpan]="3"
      *ngIf="user?.id === authUser?.id || isAdmin">
      {{ user?.email }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Inscris depuis le" [nzSpan]="3">
      {{ user?.createdTimestamp | date : 'dd/MM/yyyy' }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
      <nz-tag
        nzChecked
        nzColor="blue"
        *ngIf="user?.roles?.includes('bingemate-user')"
        >Actif
      </nz-tag>
      <nz-tag
        nzChecked
        nzColor="green"
        *ngIf="user?.roles?.includes('bingemate-subscribed')"
        >Abonné(e)
      </nz-tag>
      <nz-tag
        nzChecked
        nzColor="red"
        *ngIf="user?.roles?.includes('bingemate-admin')"
        >Administrateur
      </nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="user?.id !== authUser?.id" nzTitle="Amitié">
      <nz-space nzDirection="horizontal">
        <ng-container *ngIf="relationShip !== null">
          <span *nzSpaceItem>
            {{ mapStateToLabel(relationShip.state) }}
          </span>
        </ng-container>
        <ng-container *ngIf="relationShip === null">
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            [disabled]="sending"
            (click)="sendFriendRequest()">
            Ajouter
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            relationShip?.state === FriendState.REQUESTED &&
            !relationShip?.requester
          ">
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            (click)="acceptFriend()">
            Accepter
          </button>
          <button
            *nzSpaceItem
            nz-button
            nzType="default"
            (click)="rejectFriend()">
            Refuser
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            relationShip?.state === FriendState.REQUESTED &&
            relationShip?.requester
          ">
          <button
            *nzSpaceItem
            nz-button
            nzType="default"
            nzDanger
            (click)="deleteFriend()">
            Annuler
          </button>
        </ng-container>
        <ng-container *ngIf="relationShip?.state === FriendState.ACCEPTED">
          <button
            *nzSpaceItem
            nz-button
            nzType="default"
            nzDanger
            (click)="deleteFriend()">
            <i nz-icon nzType="delete"></i>
            <span>Supprimer</span>
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            relationShip?.state === FriendState.REJECTED &&
            !relationShip?.requester
          ">
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            (click)="acceptFriend()">
            Accepter
          </button>
        </ng-container>
        <ng-container *ngIf="relationShip?.state === FriendState.REJECTED">
          <button
            *nzSpaceItem
            nz-button
            nzType="default"
            (click)="deleteFriend()">
            Supprimer
          </button>
        </ng-container>
      </nz-space>
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions
    nz-form
    nzBordered
    [formGroup]="userForm!"
    [nzSize]="isOnPhone ? 'small' : 'default'"
    [nzLayout]="isOnPhone ? 'vertical' : 'horizontal'"
    *ngIf="editMode"
    [nzExtra]="toggleSave">
    <nz-descriptions-item nzTitle="Pseudo" [nzSpan]="3">
      <nz-form-control nzErrorTip="Ce champ est requis">
        <input
          nz-input
          formControlName="username"
          placeholder="Pseudo"
          type="text" />
      </nz-form-control>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Nom" [nzSpan]="2">
      <nz-form-control nzErrorTip="Ce champ est requis">
        <input
          nz-input
          formControlName="lastname"
          placeholder="Nom"
          type="text" />
      </nz-form-control>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Prénom" [nzSpan]="2">
      <nz-form-control nzErrorTip="Ce champ est requis">
        <input
          nz-input
          formControlName="firstname"
          placeholder="Prénom"
          type="text" />
      </nz-form-control>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Email" [nzSpan]="3">
      <nz-form-control nzErrorTip="Ce champ est requis" et doit être valide>
        <input
          nz-input
          formControlName="email"
          placeholder="Email"
          type="email" />
      </nz-form-control>
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="isAdmin" nzTitle="Roles">
      <nz-row [nzGutter]="[16, 16]">
        <nz-col *ngFor="let role of roles">
          <label
            nz-checkbox
            [nzChecked]="user?.roles?.includes(role)"
            (nzCheckedChange)="onRoleChange(role, $event)">
            {{ role }}
          </label>
        </nz-col>
      </nz-row>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<ng-template #toggleEdit>
  <nz-space nzDirection="horizontal" class="hide-on-phone">
    <ng-container *ngIf="canEdit()">
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        (click)="toggleEditMode()">
        Modifier
      </button>
    </ng-container>
    <ng-container *ngIf="user?.id !== authUser?.id">
      <button
        *nzSpaceItem
        nz-button
        nzType="default"
        [routerLink]="['/social-network/chat', user?.id]">
        Envoyer un message
      </button>
    </ng-container>
    <app-delete-user
      *nzSpaceItem
      [admin]="isAdmin"
      [owner]="owner"
      [userId]="user?.id ?? ''"></app-delete-user>
  </nz-space>
</ng-template>

<ng-template #toggleSave>
  <nz-space nzDirection="horizontal">
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      (click)="updateUser()"
      [disabled]="userForm?.invalid">
      Enregistrer
    </button>
    <button *nzSpaceItem nz-button nzType="default" (click)="toggleEditMode()">
      Annuler
    </button>
  </nz-space>
</ng-template>
