<!--<nz-page-header
  nzTitle="Séries de la plateforme de diffusion {{
    networkName
  }}"></nz-page-header>-->
<h4 nz-typography>Séries de la plateforme de diffusion {{ networkName }}</h4>

<nz-skeleton
  *ngIf="tvShows.length === 0"
  [nzActive]="true"
  [nzParagraph]="{ rows: 10 }"></nz-skeleton>

<nz-card
  *ngIf="tvShows.length > 0"
  [nzSize]="isOnPhone ? 'small' : 'default'"
  [nzExtra]="tvsPagination"
  [nzActions]="[tvsPagination]">
  <app-tv-list [tvShows]="tvShows"></app-tv-list>
</nz-card>

<ng-template #tvsPagination>
  <div (click)="$event.stopPropagation()">
    <nz-pagination
      [nzSize]="isOnPhone ? 'small' : 'default'"
      [nzPageIndex]="tvShowsPage"
      [nzTotal]="Math.min(tvShowsTotalResults, 1000)"
      [nzPageSize]="20"
      (nzPageIndexChange)="onTvShowsPageChange($event)">
    </nz-pagination>
  </div>
</ng-template>
