<nz-space nzDirection="horizontal">
  <button
    *nzSpaceItem
    nz-button
    nzType="primary"
    [disabled]="disabled"
    (click)="onScanMovies()">
    <i nz-icon nzType="diff"></i>
    Scanner les films
  </button>
  <button
    *nzSpaceItem
    nz-button
    nzType="primary"
    [disabled]="disabled"
    (click)="onScanSeries()">
    <i nz-icon nzType="diff"></i>
    Scanner les séries
  </button>
  <button
    *nzSpaceItem
    nz-button
    nzType="primary"
    [disabled]="disabled"
    (click)="onScanAll()">
    <i nz-icon nzType="diff"></i>
    Scanner tout
  </button>
</nz-space>
