<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isNavbarCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="favicon.ico" alt="logo" />
        <h1>Binge Mate</h1>
      </a>
    </div>
    <div class="menu-bar">
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isNavbarCollapsed">
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/home">
            <span nz-icon [nzType]="navigationRoot.home.icon!"> </span
            ><span>Accueil</span>
          </a>
        </li>
        <li
          nz-submenu
          nzOpen
          nzTitle="Médiathèque"
          [nzIcon]="navigationRoot.medias.icon!">
          <ul>
            <li
              *ngFor="let mediaLink of mediasLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="mediaLink.path">{{ mediaLink.name }}</a>
            </li>
          </ul>
        </li>
        <li
          nz-submenu
          nzTitle="Listes de lectures"
          [nzIcon]="navigationRoot.watchlist.icon!">
          <ul>
            <li
              *ngFor="let watchlistLink of watchlistLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="watchlistLink.path"> {{ watchlistLink.name }}</a>
            </li>
          </ul>
        </li>
        <li
          nz-submenu
          nzTitle="Statistiques"
          [nzIcon]="navigationRoot.statistics.icon!">
          <ul>
            <li
              *ngFor="let statisticLink of statisticsLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="statisticLink.path"> {{ statisticLink.name }}</a>
            </li>
          </ul>
        </li>
        <li
          nz-submenu
          nzTitle="Communauté"
          [nzIcon]="navigationRoot.socialNetwork.icon!">
          <ul>
            <li
              *ngFor="let socialNetworkLink of socialNetworkLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="socialNetworkLink.path">
                {{ socialNetworkLink.name }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isNavbarCollapsed">
        <nz-divider></nz-divider>
        <li
          nz-submenu
          nzTitle="Abonnement"
          [nzIcon]="navigationRoot.subscriptions.icon!">
          <ul>
            <li
              *ngFor="let subscriptionLink of subscriptionLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="subscriptionLink.path">
                {{ subscriptionLink.name }}</a
              >
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Compte" [nzIcon]="navigationRoot.auth.icon!">
          <ul>
            <li
              *ngFor="let accountLink of accountLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="accountLink.path">{{ accountLink.name }}</a>
            </li>
          </ul>
        </li>
        <li
          nz-submenu
          nzTitle="Paramètres"
          [nzIcon]="navigationRoot.settings.icon!">
          <ul>
            <li nz-menu-item>
              <nz-space nzAlign="center">
                <i
                  *nzSpaceItem
                  class="trigger"
                  nz-icon
                  nzType="bg-colors"
                  nzTheme="outline"></i>
                <span *nzSpaceItem>Thème sombre</span>
                <nz-switch
                  *nzSpaceItem
                  nzSize="small"
                  [(ngModel)]="isDarkTheme"
                  (click)="toggleTheme()">
                </nz-switch>
              </nz-space>
            </li>
          </ul>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a href="https://github.com/bingemate" target="_blank">
            <span nz-icon nzType="bug"> </span
            ><span *ngIf="!environment.production"
              >{{ environment.envName }} - </span
            ><span>{{ environment.appVersion }}</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- bottom -->
  </nz-sider>
  <nz-layout>
    <nz-header>
      <!--      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <span
          >Current section : {{ currentSection }} -
          {{ currentSectionName }}</span
        >
      </div>-->
      <nz-page-header class="app-header">
        <nz-page-header-title>
          <span
            class="header-trigger"
            (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span
              class="trigger"
              nz-icon
              [nzType]="isNavbarCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
          Current section : {{ currentSection }}
        </nz-page-header-title>
        <nz-page-header-subtitle>
          {{ currentSectionName }}
        </nz-page-header-subtitle>
        <nz-page-header-extra>
          <nz-space nzAlign="baseline" nzSize="large">
            <button
              *nzSpaceItem
              nz-button
              nzShape="circle"
              nz-popover="Something is processing ..."
              nzPopoverPlacement="bottomRight"
              (click)="notificationsService.success('Coucou', 'Ca va ?')">
              <span nz-icon nzType="sync" nzSpin></span>
            </button>
            <nz-badge *nzSpaceItem [nzCount]="6">
              <button nz-button nzShape="circle" [routerLink]="chatLink">
                <span nz-icon nzType="message"></span>
              </button>
            </nz-badge>
            <nz-badge *nzSpaceItem [nzCount]="99" [nzOverflowCount]="15">
              <button
                nz-button
                nzShape="circle"
                nz-dropdown
                nzTrigger="click"
                [nzDropdownMenu]="notifications">
                <span nz-icon nzType="bell"></span>
              </button>
            </nz-badge>
          </nz-space>
        </nz-page-header-extra>
      </nz-page-header>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-dropdown-menu #notifications="nzDropdownMenu">
  <ul nz-menu>
    <nz-space nzDirection="vertical">
      <li nz-menu-item *nzSpaceItem>
        <nz-badge nzColor="red" nzText="Notification 1"></nz-badge>
      </li>
      <li nz-menu-item *nzSpaceItem>
        <nz-badge nzColor="green" nzText="Notification 2"></nz-badge>
      </li>
      <li nz-menu-item *nzSpaceItem>
        <nz-badge nzColor="blue" nzText="Notification 3"></nz-badge>
      </li>
      <li nz-menu-divider *nzSpaceItem></li>
      <li nz-menu-item *nzSpaceItem>
        <nz-badge nzColor="pink" nzText="Coucou"></nz-badge>
      </li>
    </nz-space>
  </ul>
</nz-dropdown-menu>
