<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img
          src="https://cdn1.iconfinder.com/data/icons/drink-beverage/512/11-coffee-espresso-cafe-mug-256.png"
          alt="logo" />
        <h1>Binge Mate</h1>
      </a>
    </div>
    <div class="menu-bar">
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/home">
            <span nz-icon nzType="home"> </span><span>Accueil</span>
          </a>
        </li>
        <li nz-submenu nzOpen nzTitle="Médiathèque" nzIcon="play-square"></li>
        <li
          nz-submenu
          nzTitle="Listes de lectures"
          nzIcon="unordered-list"></li>
        <li nz-submenu nzTitle="Statistiques" nzIcon="line-chart"></li>
        <li nz-submenu nzTitle="Communauté" nzIcon="global">
          <ul>
            <li
              *ngFor="let socialNetworkLink of socialNetworkLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="socialNetworkLink.path">
                {{ socialNetworkLink.name }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <nz-divider></nz-divider>
        <li nz-submenu nzTitle="Abonnement" nzIcon="barcode"></li>
        <li nz-submenu nzTitle="Compte" nzIcon="user">
          <ul>
            <li
              *ngFor="let accountLink of accountLinks"
              nz-menu-item
              nzMatchRouter>
              <a [routerLink]="accountLink.path">{{ accountLink.name }}</a>
            </li>
          </ul>
        </li>
        <li
          nz-submenu
          nzTitle="Paramètres"
          nzIcon="setting"
          nzPlacement="bottomCenter"></li>
      </ul>
    </div>
    <!-- bottom -->
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <span class="header-trigger" (click)="toggleTheme()">
          <i class="trigger" nz-icon nzType="bg-colors" nzTheme="outline"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
