<nz-descriptions
  nzTitle="Détails de l'abonnement"
  nzBordered
  [nzExtra]="extraTpl">
  <nz-descriptions-item nzTitle="Type">
    Abonnement Standard
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Status">
    <nz-badge
      [nzStatus]="getSubscriptionStatusState()"
      [nzText]="getSubscriptionStatus()"></nz-badge>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Renouvellement automatique">
    {{ subscription?.isCanceled ? 'Non' : 'Oui' }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Date de souscription">
    {{ subscription?.startedAt | date : 'dd/MM/yyyy' }}
  </nz-descriptions-item>
  <nz-descriptions-item
    *ngIf="!subscription?.isCanceled"
    nzTitle="Prochaine facturation"
    [nzSpan]="2">
    {{ subscription?.nextPaymentAt | date : 'dd/MM/yyyy' }}
  </nz-descriptions-item>
  <nz-descriptions-item
    *ngIf="subscription?.isCanceled"
    nzTitle="Fin de la souscription"
    [nzSpan]="2">
    {{ subscription?.endAt | date : 'dd/MM/yyyy' }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tarif">
    {{ subscription?.price }} €
  </nz-descriptions-item>
</nz-descriptions>
<ng-template #extraTpl>
  <nz-space nzSize="small">
    <a *nzSpaceItem [routerLink]="subscriptionBillingPath">
      <span nz-icon nzType="dollar-circle" nzTheme="fill"></span>
      Voir les factures
    </a>
    <button
      nz-button
      nzType="link"
      (click)="changePaymentMethod()"
      [disabled]="loading"
      nzTooltipTitle="Changer le moyen de paiement"
      nzTooltipPlacement="top"
      nz-tooltip>
      Changer de moyen de paiement
      <span nz-icon nzType="edit" nzTheme="outline"></span>
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzType="default"
      nzSize="large"
      nzShape="round"
      [disabled]="loading"
      nz-popconfirm
      nzPopconfirmTitle="Voulez-vous vraiment mettre fin à votre abonnement ?"
      (nzOnConfirm)="cancelSubscription()"
      nzPopconfirmPlacement="bottomRight"
      (click)="cancelSubscription()">
      Annuler l'abonnement
    </button>
    <ng-container *ngIf="subscriptionLoading">
      <nz-spin *nzSpaceItem nzSpinning style="padding-left: 16px"></nz-spin>
    </ng-container>
  </nz-space>
</ng-template>
