<nz-ribbon [nzText]="present" *ngIf="tv?.present">
  <ng-container *ngTemplateOutlet="card"></ng-container>
</nz-ribbon>

<ng-container *ngIf="!tv?.present">
  <ng-container *ngTemplateOutlet="card"></ng-container>
</ng-container>

<ng-template #card>
  <nz-card
    [nzSize]="isOnPhone ? 'small' : 'default'"
    nzHoverable
    class="tv-poster"
    (click)="onViewTvShow()"
    [nzCover]="cover">
    <nz-card-meta
      nzTitle="{{ tv?.title }}"
      [nzDescription]="description"></nz-card-meta>
  </nz-card>
</ng-template>

<ng-template #cover>
  <img nz-image nzDisablePreview [nzSrc]="tv?.posterUrl!" [alt]="" />
</ng-template>
<ng-template #description>
  {{ tv?.releaseDate | date : 'yyyy' }}
  <br />
  <nz-rate
    class="hide-on-phone"
    [ngModel]="getRate()"
    nzAllowHalf
    nzDisabled></nz-rate>
  <i class="hide-on-desktop" nz-icon nzType="star" nzTheme="fill"></i>
  {{ ((tv?.voteAverage ?? 0) / 2).toFixed(2) }}
</ng-template>

<ng-template #present>
  <span
    nz-icon
    nzType="video-camera"
    nzTheme="fill"
    nzTwotoneColor="white"></span>
</ng-template>
