<cdk-virtual-scroll-viewport itemSize="80" class="infinite-container">
  <nz-list nzBordered nzSize="small" nzItemLayout="vertical">
    <nz-list-item *cdkVirtualFor="let rating of ratings">
      <nz-comment
        [nzAuthor]="getAuthor(rating)"
        nzDatetime="{{ rating.createdAt | date : 'dd/MM/yyyy HH:mm' }}">
        <nz-comment-content>
          <app-rating-view
            [rating]="rating"
            [editable]="editable"></app-rating-view>
        </nz-comment-content>
      </nz-comment>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>
