<nz-card nzTitle="Playlists" [nzExtra]="add">
  <nz-input-group nzSearch [nzSuffix]="suffixIconSearch">
    <input
      nz-input
      placeholder="Rechercher"
      [(ngModel)]="query"
      (ngModelChange)="onQuery()" />
  </nz-input-group>
  <nz-divider nzText="Films" nzOrientation="left"></nz-divider>
  <nz-list nzItemLayout="vertical" [nzLoading]="moviePlaylistLoading">
    <nz-list-item *ngFor="let item of filteredMoviePlaylists()">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <a [routerLink]="['movies', item.id]">{{ item.name }}</a>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button
            nz-button
            nzType="primary"
            nzDanger
            nz-popconfirm
            nzPopconfirmTitle="Voulez-vous vraiment supprimer cette playlist ?"
            (nzOnConfirm)="deleteMoviePlaylist(item.id)">
            <span nz-icon nzType="delete"></span>
            <span class="hide-on-phone"> Supprimer </span>
          </button>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
    <nz-list-empty
      *ngIf="!moviePlaylistLoading && moviePlaylists.length === 0"
      nzNoResult="Aucune playlist">
    </nz-list-empty>
  </nz-list>
  <nz-divider nzText="Episodes" nzOrientation="left"></nz-divider>
  <nz-list nzItemLayout="vertical" [nzLoading]="episodePlaylistLoading">
    <nz-list-item *ngFor="let item of filteredEpisodePlaylists()">
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <a [routerLink]="['episodes', item.id]">{{ item.name }}</a>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button
            nz-button
            nzType="primary"
            nzDanger
            nz-popconfirm
            nzPopconfirmTitle="Voulez-vous vraiment supprimer cette playlist ?"
            (nzOnConfirm)="deleteEpisodePlaylist(item.id)">
            <span nz-icon nzType="delete"></span>
            <span class="hide-on-phone"> Supprimer </span>
          </button>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
    <nz-list-empty
      *ngIf="!episodePlaylistLoading && episodePlaylists.length === 0"
      nzNoResult="Aucune playlist">
    </nz-list-empty>
  </nz-list>
</nz-card>

<ng-template #add>
  <button nz-button nzType="primary" (click)="showModal()">
    <span>Créer une playlist</span>
  </button>
</ng-template>

<nz-modal
  [(nzVisible)]="isPlaylistShown"
  nzTitle="Créer une nouvelle playlist"
  (nzOnCancel)="closeModal()">
  <div *nzModalContent>
    <nz-input-group [nzSuffix]="inputClearTpl" class="name-input">
      <input
        type="text"
        nz-input
        [(ngModel)]="playlistName"
        placeholder="Playlist name" />
    </nz-input-group>
    <nz-select [(ngModel)]="playlistType" nzPlaceHolder="Media type">
      <nz-option nzValue="EPISODE" nzLabel="Episode"></nz-option>
      <nz-option nzValue="MOVIE" nzLabel="Movie"></nz-option>
    </nz-select>
    <ng-template #inputClearTpl>
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="playlistName"
        (click)="playlistName = undefined"></span>
    </ng-template>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeModal()">Annuler</button>
    <button
      nz-button
      nzType="primary"
      [disabled]="!playlistName || playlistName.length === 0 || !playlistType"
      (click)="createPlaylist()"
      [nzLoading]="isConfirmLoading">
      Créer
    </button>
  </div>
</nz-modal>

<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>
