<nz-row [nzJustify]="'space-between'">
  <h2>Playlists</h2>
  <button nz-button nzType="primary" (click)="showModal()">
    <span>Créer une playlist</span>
  </button>
</nz-row>
<nz-list nzItemLayout="vertical" [nzLoading]="false">
  <nz-list-item *ngFor="let item of playlists; let index = index">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <a [routerLink]="[item.id]">{{ item.name }}</a>
      </nz-list-item-meta-title>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a (click)="deletePlaylist(item.id)">Supprimer</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-empty *ngIf="playlists.length === 0" nzNoResult="Aucune playlist">
  </nz-list-empty>
</nz-list>
<nz-modal
  [(nzVisible)]="isPlaylistShown"
  nzTitle="Créer une nouvelle playlist"
  (nzOnCancel)="closeModal()">
  <div *nzModalContent>
    <nz-input-group [nzSuffix]="inputClearTpl" class="name-input">
      <input
        type="text"
        nz-input
        [(ngModel)]="playlistName"
        placeholder="Playlist name" />
    </nz-input-group>
    <nz-select [(ngModel)]="playlistType" nzPlaceHolder="Media type">
      <nz-option nzValue="EPISODE" nzLabel="Episode"></nz-option>
      <nz-option nzValue="MOVIE" nzLabel="Movie"></nz-option>
    </nz-select>
    <ng-template #inputClearTpl>
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="playlistName"
        (click)="playlistName = undefined"></span>
    </ng-template>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeModal()">Annuler</button>
    <button
      nz-button
      nzType="primary"
      [disabled]="!playlistName || playlistName.length === 0 || !playlistType"
      (click)="createPlaylist()"
      [nzLoading]="isConfirmLoading">
      Créer
    </button>
  </div>
</nz-modal>
