<nz-row [nzGutter]="[16, 16]">
  <nz-col [nzSpan]="24">
    <nz-card nzTitle="Rechercher un média">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" nzSize="large">
        <input
          (input)="onInput()"
          (change)="manualSearch()"
          [(ngModel)]="query"
          type="text"
          nz-input
          placeholder="entrez le nom d'un média" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <nz-progress
        *ngIf="(searchingMovie$ | async) || (searchingTv$ | async)"
        nzStatus="active"
        [nzShowInfo]="false"
        [nzPercent]="100"></nz-progress>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="24">
    <nz-tabset nzSize="large">
      <nz-tab nzTitle="Films">
        <nz-card [nzExtra]="moviesPagination" [nzActions]="[moviesPagination]">
          <nz-empty
            *ngIf="
              (movieResults$ | async)?.results.length === 0 &&
              (searchingMovie$ | async) === false
            "></nz-empty>
          <app-movie-list
            [movies]="(movieResults$ | async)?.results ?? []"></app-movie-list>
        </nz-card>
      </nz-tab>
      <nz-tab nzTitle="Séries">
        <nz-card
          [nzExtra]="tvShowsPagination"
          [nzActions]="[tvShowsPagination]">
          <nz-empty
            *ngIf="
              (tvResults$ | async)?.results.length === 0 &&
              (searchingTv$ | async) === false
            "></nz-empty>
          <app-tv-list
            [tvShows]="(tvResults$ | async)?.results ?? []"></app-tv-list>
        </nz-card>
      </nz-tab>
    </nz-tabset>
  </nz-col>
</nz-row>

<ng-template #moviesPagination>
  <nz-pagination
    [nzPageIndex]="movieResultsPage$ | async"
    [nzTotal]="Math.min((movieResults$ | async)?.totalResult ?? 0, 1000)"
    [nzPageSize]="20"
    (nzPageIndexChange)="onMoviesPageChange($event)">
  </nz-pagination>
</ng-template>
<ng-template #tvShowsPagination>
  <nz-pagination
    [nzPageIndex]="tvResultsPage$ | async"
    [nzTotal]="Math.min((tvResults$ | async)?.totalResult ?? 0, 1000)"
    [nzPageSize]="20"
    (nzPageIndexChange)="onTvShowsPageChange($event)">
  </nz-pagination>
</ng-template>
