<button
  *ngIf="admin || owner"
  nz-button
  nzDanger
  nzType="primary"
  (click)="showModal()">
  <span>{{ buttonMessage() }}</span>
</button>

<nz-modal
  [(nzVisible)]="deleteModalVisible"
  nzTitle="Suppression du compte"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <nz-result
      *ngIf="!deleteModalLoading && !deleteModalError && !deleteModalSuccess"
      nzStatus="warning"
      [nzTitle]="deletePromptMessage()">
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="handleDelete()">Oui</button>
        <button nz-button nzType="default" (click)="handleCancel()">Non</button>
      </div>
    </nz-result>
    <nz-result
      *ngIf="deleteModalLoading"
      nzStatus="info"
      nzTitle="Suppression en cours...">
      <div nz-result-extra>
        <nz-spin></nz-spin>
      </div>
    </nz-result>
    <nz-result
      *ngIf="deleteModalError"
      nzStatus="error"
      nzTitle="Une erreur est survenue lors de la suppression du compte. {{
        deleteModalErrorMessage
      }}">
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="handleCancel()">Ok</button>
      </div>
    </nz-result>
    <nz-result
      *ngIf="deleteModalSuccess"
      nzStatus="success"
      [nzTitle]="deleteSuccessMessage()">
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="handleCancel()">Ok</button>
      </div>
    </nz-result>
  </ng-container>
</nz-modal>
