<nz-row [nzGutter]="[16, 16]">
  <nz-col
    *ngIf="mediaFile"
    [nzSpan]="(episodePlaylist$ | async) || (moviePlaylist$ | async) ? 18 : 24">
    <app-video-player
      (streamUpdate)="onStreamUpdate($event)"
      [type]="type"
      [timeSeek]="progress"
      [mediaInfo]="mediaInfo"
      [mediaId]="mediaId"
      [mediaFile]="mediaFile"></app-video-player>
  </nz-col>
  <nz-col
    *ngIf="(episodePlaylist$ | async) || (moviePlaylist$ | async)"
    [nzSpan]="6">
    <app-playlist-stream></app-playlist-stream>
  </nz-col>
  <nz-col *ngIf="!mediaFile && !error" [nzSpan]="24">
    <nz-spin
      style="padding: 30px 50px"
      nzSpinning
      nzSize="large"
      nzTip="Chargement du média..."></nz-spin>
  </nz-col>
  <nz-col *ngIf="error" [nzSpan]="24">
    <nz-alert
      nzType="error"
      [nzMessage]="'Erreur lors du chargement du média : ' + error"></nz-alert>
  </nz-col>
</nz-row>
