<div
  nz-row
  [nzGutter]="{ xs: 8, sm: 12, md: 16, lg: 24 }"
  style="margin-bottom: 1rem">
  <div
    nz-col
    [nzXs]="{ span: 12 }"
    [nzMd]="{ span: 6 }"
    class="gutter-row"
    *ngIf="userID === ''">
    <nz-card>
      <div nz-row nzJustify="center">
        <nz-statistic
          [nzValue]="userCount"
          nzTitle="Nombre d'utilisateurs"
          [nzPrefix]="userIc"></nz-statistic>
        <ng-template #userIc><span nz-icon nzType="user"></span></ng-template>
      </div>
    </nz-card>
  </div>
  <div
    nz-col
    [nzXs]="{ span: 12 }"
    [nzMd]="{ span: 6 }"
    class="gutter-row"
    *ngIf="userID === ''">
    <nz-card>
      <div nz-row nzJustify="center">
        <nz-statistic
          [nzValue]="subscriberCount"
          nzTitle="Nombre d'abonnés"
          [nzPrefix]="subIc"></nz-statistic>
        <ng-template #subIc
          ><span nz-icon nzType="dollar-circle"></span
        ></ng-template>
      </div>
    </nz-card>
  </div>
  <div nz-col [nzXs]="{ span: 12 }" [nzMd]="{ span: 6 }" class="gutter-row">
    <nz-card>
      <div nz-row nzJustify="center">
        <nz-statistic
          [nzValue]="(watchTime | hours)!"
          [nzTitle]="'Visionnage total'"
          [nzPrefix]="clockPref"></nz-statistic>
        <ng-template #clockPref
          ><span nz-icon nzType="clock-circle"></span
        ></ng-template>
      </div>
    </nz-card>
  </div>
  <div nz-col [nzXs]="{ span: 12 }" [nzMd]="{ span: 6 }" class="gutter-row">
    <nz-card>
      <div nz-row nzJustify="center">
        <nz-statistic
          [nzValue]="watchedMediaCount"
          [nzTitle]="'Médias visionnés'"
          [nzPrefix]="playPref"></nz-statistic>
        <ng-template #playPref
          ><span nz-icon nzType="play-circle"></span
        ></ng-template>
      </div>
    </nz-card>
  </div>
  <div nz-col [nzXs]="{ span: 12 }" [nzMd]="{ span: 6 }" class="gutter-row">
    <nz-card>
      <div nz-row nzJustify="center">
        <nz-statistic
          [nzValue]="commentsCount"
          [nzTitle]="'Commentaires envoyés'"
          [nzPrefix]="commentPref"></nz-statistic>
        <ng-template #commentPref
          ><span nz-icon nzType="comment"></span
        ></ng-template>
      </div>
    </nz-card>
  </div>
  <div nz-col [nzXs]="{ span: 12 }" [nzMd]="{ span: 6 }" class="gutter-row">
    <nz-card>
      <div nz-row nzJustify="center">
        <nz-statistic
          [nzValue]="ratingsCount"
          [nzTitle]="'Médias notés'"
          [nzPrefix]="starPref"></nz-statistic>
        <ng-template #starPref><span nz-icon nzType="star"></span></ng-template>
      </div>
    </nz-card>
  </div>
</div>
<div nz-row [nzGutter]="{ xs: 32, sm: 32, md: 32, lg: 32 }">
  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 12 }" class="gutter-row">
    <app-stats-daily-views
      [movieStats]="movieStats"
      [episodeStats]="episodeStats"
      class="stats-item"></app-stats-daily-views>
    <div
      nz-row
      [nzGutter]="{ xs: 16, sm: 16, md: 16, lg: 16 }"
      style="margin-top: 1rem">
      <app-stats-movie-daily-viewed-genre
        nz-col
        [nzXs]="{ span: 24 }"
        [nzMd]="{ span: 12 }"
        [movieStats]="movieStats"
        class="stats-item"></app-stats-movie-daily-viewed-genre>
      <app-stats-show-daily-viewed-genre
        nz-col
        [nzXs]="{ span: 24 }"
        [nzMd]="{ span: 12 }"
        [episodeStats]="episodeStats"
        class="stats-item"></app-stats-show-daily-viewed-genre>
    </div>
  </div>
  <div nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 12 }" class="gutter-row">
    <app-stats-daily-viewed-medias
      [movieStats]="movieStats"
      [episodeStats]="episodeStats"
      class="stats-item"></app-stats-daily-viewed-medias>
    <div style="margin-top: 1rem">
      <app-stats-daily-sent-comments
        [commentStat]="commentStats"></app-stats-daily-sent-comments>
    </div>
  </div>
</div>
