<nz-space
  [nzDirection]="vertical ? 'vertical' : 'horizontal'"
  nzSize="large"
  nzAlign="center">
  <img
    *nzSpaceItem
    nzDisablePreview
    nz-image
    [width]="isOnPhone ? 120 : 200"
    [height]="isOnPhone ? 67 : 112"
    [nzSrc]="posterUrl"
    alt=""
    [ngClass]="{ vertical: vertical, horizontal: !vertical }" />
  <ng-container *ngIf="isOnPhone; else notOnPhone">
    <h5
      *nzSpaceItem
      [class]="
        vertical
          ? 'title-container-vertical-mobile'
          : 'title-container-horizontal-mobile'
      ">
      <ng-container *ngIf="type === 'movies'; else episode">
        {{ movieMedia?.title }}
      </ng-container>
      <ng-template #episode>
        <ng-container *ngIf="tvShowMedia !== undefined; else tvNamePipe">
          {{ tvShowMedia?.title }}
        </ng-container>
        <ng-template #tvNamePipe>
          {{ episodeMedia?.tvShowId ?? 1 | mediaName : 'tv' | async }}
        </ng-template>
        <br />
        {{ episodeMedia?.seasonNumber }}x{{
          episodeMedia?.episodeNumber?.toString()?.padStart(2, '0')
        }}
        -
        {{ episodeMedia?.name }}
      </ng-template>
    </h5>
  </ng-container>
  <ng-template #notOnPhone>
    <h5
      nz-typography
      *nzSpaceItem
      [class]="
        vertical ? 'title-container-vertical' : 'title-container-horizontal'
      ">
      <ng-container *ngIf="type === 'movies'; else episode">
        {{ movieMedia?.title }}
      </ng-container>
      <ng-template #episode>
        <ng-container *ngIf="tvShowMedia !== undefined; else tvNamePipe">
          {{ tvShowMedia?.title }}
        </ng-container>
        <ng-template #tvNamePipe>
          {{ episodeMedia?.tvShowId ?? 1 | mediaName : 'tv' | async }}
        </ng-template>
        <br />
        {{ episodeMedia?.seasonNumber }}x{{
          episodeMedia?.episodeNumber?.toString()?.padStart(2, '0')
        }}
        -
        {{ episodeMedia?.name }}
      </ng-template>
    </h5>
  </ng-template>
</nz-space>
